@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body{
    font-family: Open Sans;
    margin: 0;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card{
    background-image: url(https://st2.depositphotos.com/2124563/8893/i/450/depositphotos_88939092-stock-photo-flag-football-club-chelsea-england.jpg);
    height: 400px;
    width: 330px;
    background-position: center;
    border: solid 2px black;
    border-radius: 50px ;
    object-fit: cover;
}
   
.cards{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/414/659/746/marvel-comics-typography-logo-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;   
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;   
}

.cards h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
}



.figure1{
    display: flex;
    background-image: url(https://fondosmil.com/fondo/21136.jpg);
    height: 300px;
    width: 150px;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    border: solid black;
    border-radius: 10px;
}


.figure2{
    display: flex;
    background-image: url(https://static.wikia.nocookie.net/marvelcinematicuniverse/images/2/22/Thor_in_LoveAndThunder_Poster.jpg/revision/latest/scale-to-width-down/1000?cb=20220615195810
    );
    height: 300px;
    width: 150px;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    border: solid black;
    border-radius: 10px;
}

.figure3{
    display: flex;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/168/856/47/captain-america-chris-evans-captain-america-the-first-avenger-wallpaper-preview.jpg);
    height: 300px;
    width: 150px;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    border: solid black;
    border-radius: 10px;
}

.figure4{
    display: flex;
    background-image: url(https://i.pinimg.com/originals/10/c9/d9/10c9d95545dad2f5a1bf88520df0ff29.jpg
    );
    height: 300px;
    width: 150px;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    border: solid black;
    border-radius: 10px;
}

.text{
    align-self: flex-end;    
}

.text h2{
    color: white;
    text-align: center;
}

#checkbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 10rem;
    padding-top: 2rem;
}

#checkbutton p{
    color: white;
    padding-bottom: 1rem;
}

#totalSticker{
       color: white;
    padding: 1rem;   
}

.clave{
    display: flex;
    flex-direction: column;
    border: solid 10px black;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.password1{
    display: flex;
    
}

.password1 select{
    height: 1.5rem;
    width: 5rem;
    justify-content: space-around
}
.password3 select{
    height: 1.5rem;
    width: 5rem;
    justify-content: space-around
}
.password2 select{
    height: 1.5rem;
    width: 5rem;
    justify-content: space-around
}

.clave button{
    margin: 1rem;
    height: 1.5rem;
    width: 7rem;
    border-color: green;
    border-radius: 10px;
    
}
   



